<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Dosis|Press+Start+2P&display=swap" rel="stylesheet">
        <style>
                img {
                        width: 50%;
                        width: 60%;
                        background-color: white;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }

                div.container {
                        text-align: center;
                        padding: 10px 20px;
                        display: inline-flexbox;
                        flex-wrap: wrap;
                }

                h1 {
                        text-align: center;
                        font-family: 'Press Start 2P', cursive;
                }

                p {
                        font-family: 'Dosis', sans-serif;
                }

                h1 {
                        font-family: 'Press Start 2P', cursive;
                }

                li a {
                        font-family: 'Dosis', sans-serif;
                }

                ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        background-color: #333;
                }

                li {
                        float: left;
                }

                li a {
                        display: block;
                        color: white;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                }
        </style>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/menu">Menu</a></li>
            <li style="float:right"><a class="active" href="/coffee">Coffee Selections</a></li>
    </ul>
    </head>
    <body>
        <h1>Edit Our Coffee</h1>
        <form action="/coffee/<%=coffee.id%>?_method=PUT" method="POST">
    		Brand: <input type="text" name="brand" value="<%=coffee.brand%>"/><br/>
            Name: <input type="text" name="name" value="<%=coffee.name%>"/><br/>
            Taste: <input type="text" name="taste" value="<%=coffee.taste%>"/><br/>
    		Is The Coffee In Stock:
            <input type="checkbox" name="inStock"
                <% if(coffee.inStock === true){ %>
                    checked
                <% } %>
            />
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>