<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  
</head>

<body>
  <h1>
    <% if(currentUser) { %>
    Welcome <%=currentUser.username%>!
    <% } else { %>
    Welcome!
    <% } %>
  </h1>
  <% if(currentUser) { %>
  <main>
    Welcome to Hammerlocke Coffee Shop!</a>
  </main>
  <% } %>
  <nav>
    <a href="/locations">Locations</a>
    <a href="/coffee">Coffee</a>
    <a href="/menu">Cafe Menu</a>
    <ul>
      <li><a href="/sessions/new">Log In</a></li>
      <li><a href="/users/new">Register</a></li>
      <% if(currentUser) { %>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout" />
        </form>
      </li>
      <% } %>
    </ul>
  </nav>

</body>

</html>