<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Press+Start+2P&display=swap" rel="stylesheet">
  <style>
    h1 {
      font-family: 'Press Start 2P', cursive;
      text-align: center;
    }

    li a {
      font-family: 'Dosis', sans-serif;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    </style>
</head>

<body>
  <h1>
    <% if(currentUser) { %>
    Welcome <%=currentUser.username%>!
    <% } else { %>
    Welcome!
    <% } %>
  </h1>
  <% if(currentUser) { %>
  <main>
    Welcome to Hammerlocke Coffee Shop!</a>
  </main>
  <% } %>
  <ul>
    <li><a href="/locations">Locations</a></li>
    <li><a href="/coffee">Coffee Selections</a></li>
    <li><a href="/menu">Cafe Menu</a></li>
    <ul>
      <li style="float:right"><a href="/sessions/new">Log In</a></li>
      <li style="float:right"><a href="/users/new">Register</a></li>
      <% if(currentUser) { %>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout" />
        </form>
      </li>
      <% } %>
    </ul>
  </ul>

</body>

</html>