<link href="/css/styles.css" rel="stylesheet" type="text/css" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>Our Locations</title>
  </head>
  <body>
    <h1>Our Locations</h1>
    <div class="keyWest">
      <h2>Hammerlocke Key West</h2>
      <iframe
        width="400"
        height="250"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/view?zoom=14&center=24.5591,-81.8055&key=AIzaSyDNRcfQdPypBX3QQ5XjeaL24KfT91jTF-I"
        allowfullscreen
      ></iframe>
    </div>
    <div class="gainesville">
      <h2>Hammerlocke Gainesville</h2>
      <iframe
        width="400"
        height="250"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/view?zoom=14&center=29.6522,-82.3444&key=AIzaSyDNRcfQdPypBX3QQ5XjeaL24KfT91jTF-I"
        allowfullscreen
      ></iframe>
    </div>
    <div class="dallas">
      <h2>Hammerlocke Dallas</h2>
      <iframe
        width="400"
        height="250"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/view?zoom=14&center=32.7773,-96.8062&key=AIzaSyDNRcfQdPypBX3QQ5XjeaL24KfT91jTF-I"
        allowfullscreen
      ></iframe>
    </div>
    <div class="chicago">
      <h2>Hammerlocke Chicago</h2>
      <iframe
        width="400"
        height="250"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/view?zoom=14&center=41.8903,-87.6276&key=AIzaSyDNRcfQdPypBX3QQ5XjeaL24KfT91jTF-I"
        allowfullscreen
      ></iframe>
    </div>
    <div class="tampa">
      <h2>Hammerlocke Tampa</h2>
      <iframe
        width="400"
        height="250"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/view?zoom=14&center=27.9479,-82.4577&key=AIzaSyDNRcfQdPypBX3QQ5XjeaL24KfT91jTF-I"
        allowfullscreen
      ></iframe>
    </div>
    <div class="nashville">
      <h2>Hammerlocke Nashville</h2>

      <iframe
        width="400"
        height="250"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/view?zoom=14&center=36.1547,-86.7844&key=AIzaSyDNRcfQdPypBX3QQ5XjeaL24KfT91jTF-I"
        allowfullscreen
      ></iframe>
    </div>
  </body>
</html>
