<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Menu</title>
</head>
<body>
    <h1>Cafe Menu</h1>


    <div class="container">
      
                <div class="img">
                    <img src="./public/images/Pokemon/tail cookie-640x427-640x427.jpgp" alt="" title="">
                    <p>Cold Coffee with Pikachu's Tail Cookie</p>
                
            </div>
            <div class="img">
                
                <img src="public/images/Pokemon/Gengars.jpg" alt="" title="">
                <p>Gengar's Hikari Smoothie</p>
            
        </div>
        <div class="img">
            
                <img src="public/images/Pokemon/Mius.jpg" alt="" title="">
                
                <p>Miu's Fluffy Masrshmellow Drink</p>
            
        </div>
        <div class="img">
            
                <img src="public/images/Pokemon/eeveeSweets.jpg" alt="" title="">
                
                <p">Eevees Sweet Chocolate Parfait</p>
            
        </div>
        <div class="img">
            
                <img src="public/images/Pokemon/snorlax.jpg" alt="" title="">
                
                <p>Snorlex Nap Lunch Plate</p>
            
        </div>
        <div class="img">
            
                <img src="public/images/Pokemon/Eevee.jpg" alt="" title="">
                
                <p>Eevee's Well Plate</p>
            
        </div>
        <div class="img">
            
                <img src="public/images/Pokemon/pikachu-meal-plate-030218.jpg" alt="" title="">
                <p>Pikachu's Bulky Plate</p>
            
        </div>
        <div class="img">
            
                <img src="public/images/Pokemon/latte.jpg" alt="" title="">
                <p>Selectable Pokemon Lattes</p>
            
        </div>
        <div class="img">
            
                <img src="public/images/Pokemon/Morpeco.jpg" alt="" title="">
                
                <p>Morpeco Pokopiko Omu Rice</p>
            
        </div>
        <div class="img">
            
                <img src="public/images/Pokemon/Matadogas.jpg" alt="" title="">
               
                <p>Matagoas Pancake Plate</p>
            
        </div>
        <div class="img">
                <img src="public/images/Pokemon/Messon.jpg" alt="" title="">
                
                <p>Messon's Berry Berry Fruit Sandwich</p>
            
        </div>
        <div class="img">
            
                <img src="public/images/Pokemon/Hivani.jpg" alt="" title="">
                
                <p>Hivani's Energy Tomoto Meatball Plate</p>
            
        </div>
        <div class="img">
           
                <img src="/public/images/Pokemon/Sarnori.jpg" alt="" title="">
                
                <p>Sarnnori Creamy Cream Pie Stew</p>
        </div>
        </div>
</body>
</html>