<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Coffee</h1>
  <%=coffee.brand; %>
    <%=coffee.name; %>
    <%=coffee.taste; %>
    <%=coffee.inStock;  %>  
  
  
  <nav>
    <a href="/coffee.ejs">Back to Coffee Index</a>
  </nav>
</body>

</html>